<div class="example-div">
  <mat-card>
    <img mat-card-image
      src="http://po-zdravidnes.com/language/bg/uploads/img_original/articles__0/article__8c997a7dd3654a7a4f755ebbbb788ce2.jpg"
      style="height:400px; width:auto">
    <mat-card-content>
      When life gives you lemons
      <br>
      <p>Don't make lemonade</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h2>Make life take the lemons back!</h2>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <img mat-card-image src="https://static.tvtropes.org/pmwiki/pub/images/inside_out_anger_fullbody.png"
      style="height:500px; width:auto">
    <mat-card-content>
      <h1>Get mad!</h1>
    </mat-card-content>
  </mat-card>
  <mat-card>
    - I don't want your damn lemons!
    <br>
    - What am I supposed to do with these?
  </mat-card>
  <mat-card>
    Demand to see life's manager!
  </mat-card>
  <mat-tab-group [(headerPosition)]="position" dynamicHeight (selectedIndexChange)="setTab($event)"
    mat-align-tabs="center">
    <mat-tab label="DO">
      <mat-card>
        <mat-card-content>
          <div>
            Make life<br>
            rue<br><br>

            the<br>
            day<br><br>

            it thought it could give<br>

            Cave Johnson <br>

            LEMONS!
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>thumb_up</mat-icon>
        YOU
      </ng-template>
      <mat-card>
        <h3>Do you know who I am?</h3>
      </mat-card>
    </mat-tab>
    <mat-tab label="KNOW">
      <mat-card>
        <mat-card-content>
          <h2>I'm the man who's going to burn your house down!</h2>
        </mat-card-content>
        <img mat-card-image
          src="https://www.truetorahjews.org/sites/default/files/Screen%20Shot%202017-01-02%20at%2010.41.24%20AM.png"
          style="height:500px; width:auto">
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  <mat-card>
    <h1>With the lemons!</h1>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        I'm going to get my engineers to invent
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image
      src="https://res.cloudinary.com/teepublic/image/private/s--O8676oPS--/t_Preview/b_rgb:ffb81c,c_limit,f_jpg,h_630,q_90,w_630/v1485560958/production/designs/461689_3.jpg"
      style="height:500px; width:auto">
    <mat-card-footer>
      <b>A combustible lemon that burns your house down!</b>
    </mat-card-footer>
  </mat-card>
</div>